body {
    background-color: #C9BD94;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.card {
    width: 800px;
    height: 500px;
    border-radius: 50px;
    background-color: white;
    text-align: center;
    border-radius: grey 1px solid;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(148, 148, 148, 0);

}

.card-container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.quote-button {
    width: 740px;
    height: 50px;
    background-color: brown;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 15px;
}

.tweet-button {
    width: 740px;
    height: 50px;
    background-color: rgb(72, 155, 239);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.button-container {
    margin-left: 30px;
    margin-top: 50px;
}

.quote-container {
    width: 740px;
    height: 100px;
    margin-left: 30px;
    margin-top: 100px;
    font-size: 20px;

}

.quote-button:hover {
    background-color: #ccc;
}

.tweet-button:hover {
    background-color: #ccc;
}